# Geojson for all Swiss entities

This file creates a simple GeoJson that exports the geometry for CH, Cantons, Districts and Communes with the corresponding ID from the Federal Office of Statistics

In [3]:
import pandas as pd

In [4]:
import geopandas as gpd

## Load the Geodata

In [47]:
#One for switzerland
gdf_CH = gpd.read_file('shp/g1l15.shp')
gdf_CH.head(2)

,AREA_HA,CH_ISO,X_CNTR,X_MAX,X_MIN,Y_CNTR,Y_MAX,Y_MIN,Z_AVG,Z_MAX,Z_MED,Z_MIN,geometry
0,4129069,CH,659600,833841,485411,201300,295934,75272,1306,4631,1079,192,"POLYGON ((684984.0100000016 295674.0813000016,..."

In [48]:
#One for the cantons
gdf_kant = gpd.read_file('shp/g1k15.shp')
gdf_kant.head(2)

,AREA_HA,GRNR,KTNAME,KTNR,X_CNTR,X_MAX,X_MIN,Y_CNTR,Y_MAX,Y_MIN,Z_AVG,Z_MAX,Z_MED,Z_MIN,geometry
0,172895,4,Zürich,1,691800,716900,669244,252000,283343,223896,533,1290,504,331,"POLYGON ((692429.2012999989 281173.7074999996,..."
1,595956,2,Bern / Berne,2,614200,677745,556241,185600,243834,130585,1198,4269,979,399,(POLYGON ((573502.2038000003 194804.7199999988...

In [49]:
gdf_kant.shape

(26, 15)

In [50]:
#One for the districts
gdf_bez = gpd.read_file('shp/g1b15.shp')
gdf_bez.head(2)

,AREA_HA,BZNAME,BZNR,GRNR,KTNR,X_CNTR,X_MAX,X_MIN,Y_CNTR,Y_MAX,Y_MIN,Z_AVG,Z_MAX,Z_MED,Z_MIN,geometry
0,11303,Bezirk Affoltern,101,4,1,678300,686462,671862,235900,245396,229137,561,914,557,380,"POLYGON ((679207.6875 245176.5949999988, 68006..."
1,16652,Bezirk Andelfingen,102,4,1,693200,704388,684956,274000,283343,264720,437,694,426,342,"POLYGON ((692429.2012999989 281173.7074999996,..."

In [51]:
gdf_bez.shape

(148, 16)

In [52]:
#This shapefile is for the communes
gdf_gem = gpd.read_file('shp/g1g15.shp')
gdf_gem.head(2)

,AREA_HA,BZNR,GMDNAME,GMDNR,GRNR,KTNR,OBJECTID,Shape_Area,Shape_Leng,X_CNTR,...,X_MIN,Y_CNTR,Y_MAX,Y_MIN,Z_AVG,Z_CNTR,Z_MAX,Z_MED,Z_MIN,geometry
0,791,101,Aeugst am Albis,1,4,1,1,7.945775e+06,12833.889364,679300,...,678110,235700,238544,234561,684,700,886,673,532,"POLYGON ((680805.25 237763.620000001, 681154.0..."
1,1059,101,Affoltern am Albis,2,4,1,2,1.057995e+07,18747.490903,676800,...,673825,236800,239339,235208,529,490,749,502,440,"POLYGON ((678521.9299999997 238539.8399999999,..."

In [53]:
gdf_gem.shape

(2328, 21)

## Reduce to the Max

In [54]:
#Switzerland
gdf_CH = gdf_CH[['CH_ISO', 'geometry']]
gdf_CH.rename(columns={'CH_ISO': 'id'}, inplace=True)
gdf_CH['name'] = 'Schweiz'
gdf_CH.head(2)

   id                                           geometry     name
0  CH  POLYGON ((684984.0100000016 295674.0813000016,...  Schweiz

In [55]:
#Cantons
gdf_kant = gdf_kant[['KTNR', 'KTNAME', 'geometry']]
gdf_kant.rename(columns={'KTNR': 'id', 'KTNAME': 'name'}, inplace=True)
gdf_kant.head(2)

   id          name                                           geometry
0   1        Zürich  POLYGON ((692429.2012999989 281173.7074999996,...
1   2  Bern / Berne  (POLYGON ((573502.2038000003 194804.7199999988...

In [56]:
#Districts
gdf_bez = gdf_bez[['BZNR', 'BZNAME', 'geometry']]
gdf_bez.rename(columns={'BZNR': 'id', 'BZNAME': 'name'}, inplace=True)
gdf_bez.head(2)

    id                name                                           geometry
0  101    Bezirk Affoltern  POLYGON ((679207.6875 245176.5949999988, 68006...
1  102  Bezirk Andelfingen  POLYGON ((692429.2012999989 281173.7074999996,...

In [58]:
#Communes
gdf_gem = gdf_gem[['GMDNR', 'GMDNAME', 'geometry']]
gdf_gem.rename(columns={'GMDNR': 'id', 'GMDNAME': 'name'}, inplace=True)
gdf_gem.head(2)

   id                name                                           geometry
0   1     Aeugst am Albis  POLYGON ((680805.25 237763.620000001, 681154.0...
1   2  Affoltern am Albis  POLYGON ((678521.9299999997 238539.8399999999,...

## Set CRS

In [59]:
#Switzerland
gdf_CH.crs = {'init': 'epsg:21781'}
gdf_CH = gdf_CH.to_crs(epsg=4326)
gdf_CH.head(2)

   id                                           geometry     name
0  CH  POLYGON ((8.573085379703551 47.80606973745201,...  Schweiz

In [60]:
#Cantons
gdf_kant.crs = {'init': 'epsg:21781'}
gdf_kant = gdf_kant.to_crs(epsg=4326)
gdf_kant.head(2)

   id          name                                           geometry
0   1        Zürich  POLYGON ((8.669420659009052 47.67467256651023,...
1   2  Bern / Berne  (POLYGON ((7.090860566456467 46.90381814041309...

In [61]:
#Districts
gdf_bez.crs = {'init': 'epsg:21781'}
gdf_bez = gdf_bez.to_crs(epsg=4326)
gdf_bez.head(2)

    id                name                                           geometry
0  101    Bezirk Affoltern  POLYGON ((8.486980667267138 47.35268128170803,...
1  102  Bezirk Andelfingen  POLYGON ((8.669420659009052 47.67467256651023,...

In [62]:
#Communes
gdf_gem.crs = {'init': 'epsg:21781'}
gdf_gem = gdf_gem.to_crs(epsg=4326)
gdf_gem.head(2)

   id                name                                           geometry
0   1     Aeugst am Albis  POLYGON ((8.506787225179224 47.28581829343611,...
1   2  Affoltern am Albis  POLYGON ((8.476743445695709 47.29307496188522,...

## Export as Geo-JSON

In [74]:
#Switzerland
geodata_CH = gdf_CH.set_index('id').to_json()
with open('web/geojson/geodata_CH.js', 'w') as f:
    f.write('var geodata_CH = ' + str(geodata_CH))

In [75]:
#Cantons
geodata_kant = gdf_kant.set_index('id').to_json()
with open('web/geojson/geodata_kant.js', 'w') as f:
    f.write('var geodata_kant = ' + str(geodata_kant))

In [76]:
#Districts
geodata_bez = gdf_bez.set_index('id').to_json()
with open('web/geojson/geodata_bez.js', 'w') as f:
    f.write('var geodata_bez = ' + str(geodata_bez))

In [77]:
#Communes
geodata_gem = gdf_gem.set_index('id').to_json()
with open('web/geojson/geodata_gem.js', 'w') as f:
    f.write('var geodata_gem = ' + str(geodata_gem))

## Export the IDs seperately, as CSV

In [71]:
#Cantons
df_kant_ids = gdf_kant[['id', 'name']]
df_kant_ids.to_csv('StructuredData/kant-ids.csv', index=False)
df_temp = pd.read_csv('StructuredData/kant-ids.csv')
df_temp.head(2)

   id          name
0   1        Zürich
1   2  Bern / Berne

In [72]:
#Districts
df_bez_ids = gdf_bez[['id', 'name']]
df_bez_ids.to_csv('StructuredData/bez-ids.csv', index=False)
df_temp = pd.read_csv('StructuredData/bez-ids.csv')
df_temp.head(2)

    id                name
0  101    Bezirk Affoltern
1  102  Bezirk Andelfingen

In [73]:
#Communes
df_gem_ids = gdf_gem[['id', 'name']]
df_gem_ids.to_csv('StructuredData/gem-ids.csv', index=False)
df_temp = pd.read_csv('StructuredData/gem-ids.csv')
df_temp.head(2)

   id                name
0   1     Aeugst am Albis
1   2  Affoltern am Albis