In [1]:
import pandas as pd

In [135]:
pd.set_option("display.float_format", "{:,.1f}".format)

This file loads sociodemographic data (age, married, household size, ...) from excel/csv form and puts it into a json from that the javascript will be able to understand and work with.

## Load the IDs and Create Base Dictionary

We first get an ID of all the districts that we can represent. Then we make a dictionary with one key for each ID. The entry is an empty dictionary

In [136]:
df_ids = pd.read_csv('StructuredData/bez-ids.csv')

In [137]:
df_ids.head(2)

    id                name
0  101    Bezirk Affoltern
1  102  Bezirk Andelfingen

In [138]:
data = {}

In [139]:
for this_id in df_ids['id']:
    data[this_id] = {}

## Load the sociodemographic data and attach to the dictionary

### Households

In [140]:
df_hh = pd.read_csv('StructuredData/bez-Haushaltsgroesse.csv')

In [141]:
df_hh.head(2)

      1   2    3    4    5    6+         Bezirk_Name  Bezirk_ID
0 -25.0 3.3 -4.0 16.1  4.4  -8.6    Bezirk Affoltern        101
1 -25.7 7.4 -5.9  9.1 13.9 -10.0  Bezirk Andelfingen        102

In [142]:
for this_id in data.keys():
    tempdict = df_hh[df_hh['Bezirk_ID'] == this_id].round(1).to_dict(orient='records')[0]
    tempdict.pop('Bezirk_ID')
    tempdict.pop('Bezirk_Name')
    data[this_id]['Haushaltsgroesse'] = tempdict

### Age

In [143]:
df_age = pd.read_csv('StructuredData/bez-Alter.csv')

In [144]:
df_age.head(2)

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,Bezirk_Name,Bezirk_ID
0,-3.6,5.7,6.7,11.2,11.7,13.4,12.5,23.4,5.9,25.2,...,-49.9,-65.5,-57.2,-52.1,-44.7,-76.4,-65.1,-69.0,Bezirk Affoltern,101
1,-2.5,-11.5,4.6,7.1,5.4,-1.3,16.0,6.7,16.6,16.4,...,-50.4,-38.6,-34.0,-37.7,-47.2,37.9,-12.7,-48.2,Bezirk Andelfingen,102

In [145]:
for this_id in data.keys():
    tempdict = df_age[df_age['Bezirk_ID'] == this_id].round(1).to_dict(orient='records')[0]
    tempdict.pop('Bezirk_ID')
    tempdict.pop('Bezirk_Name')
    data[this_id]['Alter'] = tempdict

### Marital Status

In [146]:
df_ziv = pd.read_csv('StructuredData/bez-Zivilstand.csv')

In [147]:
df_ziv.head(2)

,Ledig,Verheiratet,Geschieden,Wervitwet,Bezirk_Name,Bezirk_ID
0,-5.3,1.6,3.5,27.5,Arrondissement administratif Jura bernois,241
1,-0.3,1.2,-6.1,2.8,Bezirk Aarau,1901

In [148]:
for this_id in data.keys():
    tempdict = df_ziv[df_ziv['Bezirk_ID'] == this_id].round(1).to_dict(orient='records')[0]
    tempdict.pop('Bezirk_ID')
    tempdict.pop('Bezirk_Name')
    data[this_id]['Zivilstand'] = tempdict

## Export to JSON

In [149]:
with open('web/json/data_bez.js', 'w') as f:
    f.write('var data = ' + str(data))