In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('ModifiedData/px-x-0102010000_103 - Zivilstand.xlsx')

In [6]:
df_pivot = df.pivot(index="Einheit", columns="Zivilstand", values="Anzahl").reset_index()

In [7]:
df_pivot.to_csv('ModifiedData/px-x-0102010000_103 - Zivilstand - pivoted.xlsx', index=False)

In [8]:
df_temp = pd.read_csv('ModifiedData/px-x-0102010000_103 - Zivilstand - pivoted.xlsx')

In [9]:
df_temp.head(2)

                    Einheit  Geschieden   Ledig  Verheiratet  Wervitwet
0                  - Aargau       50715  276123       296940      29873
1  - Appenzell Ausserrhoden        4496   23055        24117       2875