In [1]:
import pandas as pd

This file helps to create the html to load into the selectboxes

In [5]:
options = {}

In [11]:
#A function to create an option string
def make_options(df):
    string = ''
    for col in df.columns:
        string += '<option value="' + col + '">' + col + '</option>'
    return string

### Household size

In [12]:
df_hh = pd.read_csv('StructuredData/CH-Haushaltsgroesse.csv')
df_hh.head(2)

     1    2    3    4    5   6+
0  0.0  0.0  0.0  0.0  0.0  0.0

In [14]:
options['Haushaltsgroesse'] = make_options(df_hh)

In [21]:
options['Haushaltsgroesse']

'<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6+">6+</option>'

### Age

In [23]:
df_age = pd.read_csv('StructuredData/CH-Alter.csv')
df_age.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
options['Alter'] = make_options(df_age)

In [25]:
options['Alter']

'<option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option><option value="60">60</option><option value="61">61</option><option value="62">62</option><option value="63">63</option><option value="64">64</option><option value="65">65</option><option value="66">66</option><option value="67">67</option><option value="68">68</option><option value="69">69</option><option value="70">70</option><option value="71">71</option><option value="72">72</option><option value="73">73</option><option value="74">74</option><option value="75">75</option><option value="76">76</option><option value="77">77</option><option value="78">78</option><option value="79">79</option><option value="80">80</option><option value="81">81</option><option value="82">82</option><option value="83">83</option><option value="84">84</option><option value="85">85</option><option value="86">86</option><option value="87">87</option><option value="88">88</option><option value="89">89</option><option value="90">90</option><option value="91">91</option><option value="92">92</option><option value="93">93</option><option value="94">94</option><option value="95">95</option><option value="96">96</option><option value="97">97</option><option value="98">98</option><option value="99">99</option><option value="100">100</option>'

### Marital Status

In [26]:
df_ziv = pd.read_csv('StructuredData/CH-Zivilstand.csv')
df_ziv.head(2)

   Ledig  Verheiratet  Geschieden  Wervitwet
0    0.0          0.0         0.0        0.0

In [27]:
options['Zivilstand'] = make_options(df_ziv)

In [28]:
options['Zivilstand']

'<option value="Ledig">Ledig</option><option value="Verheiratet">Verheiratet</option><option value="Geschieden">Geschieden</option><option value="Wervitwet">Wervitwet</option>'

## Export as json

In [29]:
#We will copy this string by hand into the html :-D
with open('web/json/searchOptions.js', 'w') as f:
    f.write("var searchOptions = " + str(options) + ";")