In [1]:
import pandas as pd

In [2]:
%matplotlib inline

## Read data and separate Switzerland, Cantons, Districts, Communes

### Load the Excel with all the data in it

In [3]:
df = pd.read_excel('ReadinData/px-x-0102020000_401 - Haushaltgroesse.xlsx', sheetname='relrel')

In [4]:
df.head(2)

  Nummer   Einheit         1         2         3         4         5        6+
0   8100   Schweiz  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1     ZH  - Zürich  5.687019  3.996979 -0.070279 -2.992331 -9.229533 -9.275397

In [5]:
#Make sure we don't have any NaN in there
df = df[df['Einheit'].notnull()]

### Load some helper files

In [6]:
#Load the numbers and abbreviations file for the cantons
df_kant_ids = pd.read_csv('HelperData/Kantone-ABK-ID.csv')
df_kant_ids.head(2)

  Kanton_ABK  Kanton_ID Kanton_Name  Kanton_Name2
0         ZH          1      Zürich        Zürich
1         BE          2        Bern  Bern / Berne

In [7]:
#Load the canton/district infos for the communes
df_gem_ids = pd.read_excel('HelperData/Gemeindestand-2015.xls')
df_gem_ids.head(2)

,Hist.-Nummer,Kanton,Bezirksnummer,Bezirksname,BFS Gde-nummer,Gemeindename,Datum der Aufnahme
0,13256,ZH,101,Affoltern,1,Aeugst am Albis,1976-11-15
1,11742,ZH,101,Affoltern,2,Affoltern am Albis,1960-01-01

In [8]:
df_gem_ids.pop('Hist.-Nummer')
df_gem_ids.pop('Gemeindename')
df_gem_ids.pop('Datum der Aufnahme')
df_gem_ids.rename(columns={'Bezirksnummer': 'Bezirk_ID', 'Bezirksname': 'Bezirk_Name', 'BFS Gde-nummer': 'Gemeinde_ID', 'Kanton': 'Kanton_ABK'}, inplace=True)
df_gem_ids.head(2)

  Kanton_ABK  Bezirk_ID Bezirk_Name  Gemeinde_ID
0         ZH        101   Affoltern            1
1         ZH        101   Affoltern            2

In [9]:
#Construct a set of district ids
df_bez_ids = df_gem_ids.drop_duplicates(subset='Bezirk_ID')
df_bez_ids.pop('Gemeinde_ID')
df_bez_ids.head(2)

   Kanton_ABK  Bezirk_ID  Bezirk_Name
0          ZH        101    Affoltern
14         ZH        102  Andelfingen

## Get a dataframe for each geopraphic level

### Separate Switzerland

In [23]:
#Switzerland
df_ch = df[df['Einheit'] == 'Schweiz']
df_ch.pop('Einheit')
df_ch.pop('Nummer')
df_ch.head(2)

     1    2    3    4    5   6+
0  0.0  0.0  0.0  0.0  0.0  0.0

In [24]:
df_ch.shape

(1, 6)

### Separate the cantons

In [12]:
#Cantons - there should be 26 of them
df_kant = df[df['Einheit'].str.contains('^- ')]
df_kant['Kanton_Name'] = df_kant['Einheit'].str.extract('^- (.*)', expand=True)
df_kant.head(2)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Nummer,Einheit,1,2,3,4,5,6+,Kanton_Name
1,ZH,- Zürich,5.687019,3.996979,-0.070279,-2.992331,-9.229533,-9.275397,Zürich
183,BE,- Bern / Berne,5.661230,9.978281,-6.805332,-6.343135,-6.943478,-9.331875,Bern / Berne

In [13]:
#Add the ID and Abbreviations
df_kant = df_kant.merge(df_kant_ids, how='inner', left_on='Kanton_Name', right_on='Kanton_Name2')
df_kant.pop('Kanton_Name2')
df_kant.pop('Einheit')
df_kant.pop('Kanton_Name_y')
df_kant.pop('Nummer')
df_kant.rename(columns={'Kanton_Name_x': 'Kanton_Name'}, inplace=True)
df_kant.head(2)

,1,2,3,4,5,6+,Kanton_Name,Kanton_ABK,Kanton_ID
0,5.687019,3.996979,-0.070279,-2.992331,-9.229533,-9.275397,Zürich,ZH,1
1,5.661230,9.978281,-6.805332,-6.343135,-6.943478,-9.331875,Bern / Berne,BE,2

In [14]:
df_kant.shape

(26, 9)

### Separate the districts

In [15]:
#Districts - there should be 148 of them
df_bez = df[df['Einheit'].str.contains('^>> ')]
df_bez['Bezirk_Name'] = df_bez['Einheit'].str.extract('^>> (.*)', expand=True)
df_bez['Bezirk_ID'] = df_bez['Nummer'].str.extract('00(.*)', expand=True).astype(int)
df_bez.pop('Nummer')
df_bez.pop('Einheit')
df_bez.head(2)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,1,2,3,4,5,6+,Bezirk_Name,Bezirk_ID
2,-24.955314,3.285129,-4.013732,16.083324,4.412398,-8.598241,Bezirk Affoltern,101
17,-25.718897,7.373886,-5.857371,9.074944,13.911469,-9.970489,Bezirk Andelfingen,102

In [16]:
df_bez.shape

(148, 8)

### Separate the communes

In [17]:
#Gemeinden - there should be 2324 of them
df_gem = df[df['Einheit'].str.contains('^\.\.\.\.\.\.')]
df_gem['Gemeinde_ID'] = df_gem['Einheit'].str.extract('^\.\.\.\.\.\.(\d\d\d\d)', expand=True).astype(int)
df_gem['Gemeinde_Name'] = df_gem['Einheit'].str.extract('^\.\.\.\.\.\.\d\d\d\d (.*)', expand=True)
df_gem.pop('Nummer')
df_gem.pop('Einheit')
df_gem.head(2)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,1,2,3,4,5,6+,Gemeinde_ID,Gemeinde_Name
3,-23.080360,-6.97719,-3.822833,15.909111,25.795570,3.972023,1,Aeugst am Albis
4,-8.438318,2.11025,-5.216038,-4.795538,10.947136,33.045638,2,Affoltern am Albis

In [18]:
df_gem.shape

(2324, 8)

## Export the data

In [25]:
#Switzerland
df_ch.to_csv('StructuredData/CH-Haushaltsgroesse.csv', index=False)
df_temp = pd.read_csv('StructuredData/CH-Haushaltsgroesse.csv')
df_temp.head(2)

     1    2    3    4    5   6+
0  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
#Cantons
df_kant.to_csv('StructuredData/kant-Haushaltsgroesse.csv', index=False)
df_temp = pd.read_csv('StructuredData/kant-Haushaltsgroesse.csv')
df_temp.head(2)

,1,2,3,4,5,6+,Kanton_Name,Kanton_ABK,Kanton_ID
0,5.687019,3.996979,-0.070279,-2.992331,-9.229533,-9.275397,Zürich,ZH,1
1,5.661230,9.978281,-6.805332,-6.343135,-6.943478,-9.331875,Bern / Berne,BE,2

In [21]:
#Districts
df_bez.to_csv('StructuredData/bez-Haushaltsgroesse.csv', index=False)
df_temp = pd.read_csv('StructuredData/bez-Haushaltsgroesse.csv')
df_temp.head(2)

,1,2,3,4,5,6+,Bezirk_Name,Bezirk_ID
0,-24.955314,3.285129,-4.013732,16.083324,4.412398,-8.598241,Bezirk Affoltern,101
1,-25.718897,7.373886,-5.857371,9.074944,13.911469,-9.970489,Bezirk Andelfingen,102

In [22]:
#Communes
df_gem.to_csv('StructuredData/gem-Haushaltsgroesse.csv', index=False)
df_temp = pd.read_csv('StructuredData/gem-Haushaltsgroesse.csv')
df_temp.head(2)

,1,2,3,4,5,6+,Gemeinde_ID,Gemeinde_Name
0,-23.080360,-6.97719,-3.822833,15.909111,25.795570,3.972023,1,Aeugst am Albis
1,-8.438318,2.11025,-5.216038,-4.795538,10.947136,33.045638,2,Affoltern am Albis