In [2]:
import pandas as pd

In [3]:
%matplotlib inline

## Read data and separate Switzerland, Cantons, Districts, Communes

THIS SHEET IS DIFFERENT ONE FROM THE OTHERS SINCE THE DATA COMES FROM ANOTHER SOURCE!!!!!!!!!!!!!!!

### Load the Excel with all the data in it

In [202]:
df = pd.read_excel('ReadinData/00_gemeindeauswertung_sp_2013_d.xls', sheetname='241')

In [203]:
df.head(2)

,Gemeinde_ID,Gemeinde_Name,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr
0,1,Aeugst am Albis,5,17,77,82,86,192,462
1,2,Affoltern am Albis,29,98,502,629,737,1439,1515

In [204]:
#Make sure we don't have any NaN in there
df = df[df['Gemeinde_ID'].notnull()]

In [205]:
df.shape

(2408, 9)

### Update the communes from 2013 to 2015

In [206]:
mutationen_2013 = [
    {'alt': [5099, 5130, 5133], 'neu': 5396},
    {'alt': [5155, 5163, 5170, 5173, 5174, 5192, 5224, 5229], 'neu': 5192},
    {'alt': [5243, 5253, 5254, 5255], 'neu': 5254},
    {'alt': [212, 229], 'neu': 298},
    {'alt': [440, 447], 'neu': 449},
    {'alt': [534, 537, 538, 539, 542, 545, 549, 555], 'neu': 538},
    {'alt': [540, 547, 550], 'neu': 540},
    {'alt': [604, 619], 'neu': 619},
    {'alt': [721, 722, 725], 'neu': 726},
    {'alt': [764, 764, 930], 'neu': 770},
    {'alt': [781, 784], 'neu': 784},
    {'alt': [871, 885], 'neu': 885},
    {'alt': [2126, 2127], 'neu': 2163},
    {'alt': [2441, 2442, 2444, 2446, 2449, 2450, 2452, 2453, 2458, 2462], 'neu': 2465},
    {'alt': [3571, 3574, 3576, 3577, 3578, 3579, 3580, 3583, 3584, 3593, 3613, 3614, 3615], 'neu': 3619},
    {'alt': [4063, 4069], 'neu': 4063},
    {'alt': [4109, 4115], 'neu': 4125},
    {'alt': [4305, 4321], 'neu': 4305},
    {'alt': [6171, 6178], 'neu': 6205}
]
mutationen_2014 = [
    {'alt': [171, 179], 'neu': 297},
    {'alt': [436, 439], 'neu': 450},
    {'alt': [682, 697, 702], 'neu': 717},
    {'alt': [684, 699, 710, 712], 'neu': 716},
    {'alt': [3501, 3502, 3504, 3505, 3511, 3512, 3515], 'neu': 3542},
    {'alt': [3598, 3603], 'neu': 3603},
    {'alt': [3631, 3634, 3635, 3636, 3671], 'neu': 3673},
    {'alt': [3741, 3742, 3745, 3761, 3762, 3763], 'neu': 3762},
    {'alt': [3743, 3744, 3746], 'neu': 3746},
    {'alt': [3801, 3803, 3806, 3811], 'neu': 3837}
]

In [207]:
def mutation(df, on, scheme):
    df_temp = df.copy()
    for mut in scheme:
        df_olds = df[df[on].isin(mut['alt'])]
        df_new = df_olds.sum()
        df_new[on] = mut['neu']
        df_temp.drop(df[df[on].isin(mut['alt'])].index, inplace=True)
        df_temp = df_temp.append(df_new, ignore_index=True)
    return df_temp

In [208]:
df = mutation(df, 'Gemeinde_ID', mutationen_2013)

In [209]:
df = mutation(df, 'Gemeinde_ID', mutationen_2014)

### Load some helper files

In [210]:
#Load the numbers and abbreviations file for the cantons
df_kant_ids = pd.read_csv('HelperData/Kantone-ABK-ID.csv')
df_kant_ids.head(2)

  Kanton_ABK  Kanton_ID Kanton_Name  Kanton_Name2
0         ZH          1      Zürich        Zürich
1         BE          2        Bern  Bern / Berne

In [211]:
#Load the canton/district infos for the communes
df_gem_ids = pd.read_excel('HelperData/Gemeindestand-2015.xls')
df_gem_ids.head(2)

,Hist.-Nummer,Kanton,Bezirksnummer,Bezirksname,BFS Gde-nummer,Gemeindename,Datum der Aufnahme
0,13256,ZH,101,Affoltern,1,Aeugst am Albis,1976-11-15
1,11742,ZH,101,Affoltern,2,Affoltern am Albis,1960-01-01

In [212]:
df_gem_ids.pop('Hist.-Nummer')
df_gem_ids.pop('Gemeindename')
df_gem_ids.pop('Datum der Aufnahme')
df_gem_ids.rename(columns={'Bezirksnummer': 'Bezirk_ID', 'Bezirksname': 'Bezirk_Name', 'BFS Gde-nummer': 'Gemeinde_ID', 'Kanton': 'Kanton_ABK'}, inplace=True)
df_gem_ids.head(2)

  Kanton_ABK  Bezirk_ID Bezirk_Name  Gemeinde_ID
0         ZH        101   Affoltern            1
1         ZH        101   Affoltern            2

In [213]:
#Construct a set of district ids
df_bez_ids = df_gem_ids.drop_duplicates(subset='Bezirk_ID')
df_bez_ids.pop('Gemeinde_ID')
df_bez_ids.head(2)

   Kanton_ABK  Bezirk_ID  Bezirk_Name
0          ZH        101    Affoltern
14         ZH        102  Andelfingen

## Get a dataframe for each geopraphic level

### Separate Switzerland

In [215]:
#Switzerland
df_ch = df.sum().to_frame().transpose()
df_ch.pop('Gemeinde_ID')
df_ch.pop('Gemeinde_Name')
df_ch

,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr
0,70236,84736,362383,446657,484778,969316,1098958

In [24]:
df_ch.shape

(1, 6)

### Separate the cantons

In [225]:
df_kant = df.merge(df_gem_ids, on='Gemeinde_ID')
df_kant.pop('Bezirk_ID')
df_kant.pop('Gemeinde_ID')
df_kant.pop('Gemeinde_Name')
df_kant.pop('Bezirk_Name')
df_kant.head(2)

,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Kanton_ABK
0,5,17,77,82,86,192,462,ZH
1,29,98,502,629,737,1439,1515,ZH

In [226]:
df_kant = df_kant.groupby('Kanton_ABK').sum().reset_index()
df_kant = df_kant.merge(df_kant_ids, on='Kanton_ABK')
df_kant.pop('Kanton_Name2')
df_kant.head(2)

,Kanton_ABK,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Kanton_ID,Kanton_Name
0,AG,1781,5160,24155,33933,40423,83465,90708,19,Aargau
1,AI,106,202,822,956,1057,1734,1818,16,Appenzell Innerrhoden

In [14]:
df_kant.shape

(26, 9)

### Separate the districts

In [238]:
#Districts - there should be 148 of them
df_bez = df.merge(df_gem_ids, on='Gemeinde_ID')
df_bez.pop('Gemeinde_ID')
df_bez.pop('Gemeinde_Name')
df_bez.pop('Kanton_ABK')
df_bez.pop('Bezirk_Name')
df_bez.head(2)

,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Bezirk_ID
0,5,17,77,82,86,192,462,101
1,29,98,502,629,737,1439,1515,101

In [241]:
df_bez = df_bez.groupby('Bezirk_ID').sum().reset_index()
df_bez = df_bez.merge(df_bez_ids, on='Bezirk_ID')
df_bez.pop('Kanton_ABK')
df_bez.head(2)

,Bezirk_ID,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Bezirk_Name
0,101,129,373,1746,2173,2511,5712,9222,Affoltern
1,102,78,248,1120,1431,1759,3511,4909,Andelfingen

In [242]:
df_bez.shape

(148, 9)

### Separate the communes

In [245]:
#Gemeinden - there should be 2324 of them
df_gem = df
df_gem.head(2)

,Gemeinde_ID,Gemeinde_Name,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr
0,1,Aeugst am Albis,5,17,77,82,86,192,462
1,2,Affoltern am Albis,29,98,502,629,737,1439,1515

In [244]:
#D
df_gem.shape

(2326, 9)

## Export the data

### absolute numbers

In [250]:
#Switzerland
df_ch.to_csv('StructuredData/CH-Einkommen-Abs.csv', index=False)
df_temp = pd.read_csv('StructuredData/CH-Einkommen-Abs.csv')
df_temp.head(2)

,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr
0,70236,84736,362383,446657,484778,969316,1098958

In [251]:
#Cantons
df_kant.to_csv('StructuredData/kant-Einkommen-Abs.csv', index=False)
df_temp = pd.read_csv('StructuredData/kant-Einkommen-Abs.csv')
df_temp.head(2)

,Kanton_ABK,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Kanton_ID,Kanton_Name
0,AG,1781,5160,24155,33933,40423,83465,90708,19,Aargau
1,AI,106,202,822,956,1057,1734,1818,16,Appenzell Innerrhoden

In [252]:
#Districts
df_bez.to_csv('StructuredData/bez-Einkommen-Abs.csv', index=False)
df_temp = pd.read_csv('StructuredData/bez-Einkommen-Abs.csv')
df_temp.head(2)

,Bezirk_ID,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr,Bezirk_Name
0,101,129,373,1746,2173,2511,5712,9222,Affoltern
1,102,78,248,1120,1431,1759,3511,4909,Andelfingen

In [253]:
#Communes
df_gem.to_csv('StructuredData/gem-Einkommen-Abs.csv', index=False)
df_temp = pd.read_csv('StructuredData/gem-Einkommen-Abs.csv')
df_temp.head(2)

,Gemeinde_ID,Gemeinde_Name,Bis 14’999,15’000-19’999,20’000-29’999,30’000-39’999,40’000-49’999,50’000-74999,75’000 und mehr
0,1,Aeugst am Albis,5,17,77,82,86,192,462
1,2,Affoltern am Albis,29,98,502,629,737,1439,1515